<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Up-It! - File Upload Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
  <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="freehtml5.co" />

  <!--
  //////////////////////////////////////////////////////

  FREE HTML5 TEMPLATE
  DESIGNED & DEVELOPED by FreeHTML5.co

  Website: 		http://freehtml5.co/
  Email: 			info@freehtml5.co
  Twitter: 		http://twitter.com/fh5co
  Facebook: 		https://www.facebook.com/fh5co

  //////////////////////////////////////////////////////



   -->

  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" href="../css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="../css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="../css/bootstrap.css">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="../css/magnific-popup.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="../css/flexslider.css">

  <!-- Theme style  -->
  <link rel="stylesheet" href="../css/style.css">

  <!-- Modernizr JS -->
  <script src="../js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="../js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
      <div class="top-menu">
        <div class="row">
          <div class="col-xs-2">
            <div id="fh5co-logo"><a href="index.php">Up-It!</a></div>
          </div>

          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li {% if index==true %}class="active"{% endif %}><a href="index.php">Home</a></li>
              {% if loggedIn==false %}
              <li {% if login==true %}class="active"{% endif %}><a href="login.php">Login</a></li>
              <li {% if register==true %}class="active"{% endif %}><a href="register.php">Register</a></li>
              {% elseif loggedIn==true or loginSuccess==true%}
              <li class="has-dropdown">
                <a {% if profile==true or files==true %}class="active"{% endif %} href="profile.php">{{ name }}</a>
                <ul class="dropdown">
                  <li><a href="profile.php">Profile</a></li>
                  <li><a href="files.php">My Files</a></li>
                  <li><a href="files.php?view=all">Browse files</a></li>
                  <li><a href="../PHP/login.php?action=logout">Log Out</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <div class="container-wrap">
  {% if index==true %}
    {% include 'index.twig' %}
  {% elseif login==true%}
    {% include 'login.twig' %}
  {% elseif register==true%}
    {% include 'register.twig' %}
  {% elseif verify==true%}
    {% include 'verify.twig' %}
  {% elseif profile==true%}
    {% include 'profile.twig' %}
  {% elseif files==true%}
    {% include 'files.twig' %}
  {% elseif error==true%}
    {% include 'error.twig' %}
  {% endif %}

  </div>
</div><!-- END container-wrap -->

<div class="container-wrap">
  <footer id="fh5co-footer" role="contentinfo">
    <div class="row">
      <div class="col-md-3">
        <h4>About Up-It!</h4>
        <p>Up-It! is the result of a graded student project at UiT - Narvik, utilizing PHP and MariaDB. The main web-page template free and open-source HTML5, designed, developed and provided by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></p>
      </div>

      <div class="col-md-3">
        <h4>Latest uploads</h4>
        <ul class="fh5co-footer-links">
          <li><a href="{{ links[0] }}">{{ links[1] }}</a></li>
          <li><a href="{{ links[2] }}">{{ links[3] }}</a></li>
          <li><a href="{{ links[4] }}">{{ links[5] }}</a></li>
          <li><a href="{{ links[6] }}">{{ links[7] }}</a></li>
          <li><a href="{{ links[8] }}">{{ links[9] }}</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>Contact Information</h4>
        <ul class="fh5co-footer-links">
          <li>Lodve Langes Gate 2, <br> 8514 Narvik</li>
          <li><a href="tel://+4777644000">+47 77 64 40 00</a></li>
          <li><a href="mailto:postmottak@ivt.uit.no">postmottak@ivt.uit.no</a></li>
          <li><a href="http://uit.no/sted/narvik">http://uit.no/sted/narvik</a></li>
        </ul>
      </div>

    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
          <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
        </p>
      </div>
    </div>
  </footer>
</div><!-- END container-wrap -->

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="../js/jquery.flexslider-min.js"></script>
<!-- Magnific Popup -->
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/magnific-popup-options.js"></script>
<!-- Counters -->
<script src="../js/jquery.countTo.js"></script>
<!-- Main -->
<script src="../js/main.js"></script>

</body>
</html>

